<div class="page-event">
    <div class="cover">
      <div class="heading">events</div>
    </div>
    <div class="container">
      <div class="upcoming-sec">
        <div class="heading">Upcoming Events</div>
      </div>
      <div class="upcoming-event-list">
        {% for event in events_data %}
          <div class="event-block">
            <div class="row">
              <div class="col-lg-2 sec-1">
                <table>
                  <tr>
                    <td>
                      <div class="month">{{ event.month }}</div>
                      <div class="month-date-devider"></div>
                      <div class="date">{{ event.day }}</div>
                    </td>
                    <td class="title">{{ event.title }}</td>
                  </tr>
                </table>
              </div>
              <div class="col-lg-5 sec-2">
                <img src="{{ event.image_url }}" />
              </div>
              <div class="col-lg-5 sec-3">
                <div class="title">{{ event.title }}</div>
                <div class="venue">
                  <table>
                    <tr>
                      <td><i class="fa fa-map-marker"></i></td>
                      <td>
                        <div>{{ event.venue }}</div>
                        <div class="dim-color">
                          <a href="{{ event.directions }}" target="blank">Get Directions</a>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="time">
                  <table>
                    <tr>
                      <td><i class="fa fa-clock-o"></i></td>
                      <td>
                        <div>{{ event.date_time }}</div>
                        <div data-livestamp="{{ event.timestamp }}" class="dim-color"></div>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="sort-story">{{ event.description }}</div>
                <div class="group-of-btn">
                  <a href="{{ event.booking_url }}" target="blank" class="btn book-ticket">Book Your Entry Pass</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  