{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">
 

    <title>Beverly Hills Community Marching Band</title>
</head>
<body>
    <div class="container">
        <div class="card-container">
            <nav class="navbar">
                <div class="logo"><h1>Beverly Hills Community Marching Band</h1></div>
                <ul class="links">
                    <li class="links"><a href="#">Home</a></li>
                    <li class="links"><a href="#">About</a></li>
                    <li class="links"><a href="#">Events</a></li>
                    <li class="links"><a href="#">Contact</a></li>
                    <li class="links"><a href="#">Support Us</a></li>
                </ul>
            </nav>
        </div>
        <div class="logo-background">
            <img src="./WhatsApp Image 2023-11-04 at 09.53.53.jpeg" alt="">
        </div>
        <div class="phrase-container">
            <div class="phrase">
                <ul class="ul">Make music.</ul>
                <ul class="ul">Make a difference.</ul> 
                <ul class="ul">Make a better comunity.</ul>
            </div>
            <div class="socials">
                
            
            </div>
        </div>
        

    </div>
    


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="transparent-box">
                    <div class="contact-heading">Contact Us</div>
                    <div class="contact-info">123 Main St</div>
                    <div class="contact-info">Anytown,___</div>
                    <div class="contact-info">Phone: (123) 456-7890</div>
                    <div class="contact-info">Email: goyalvipin0902@gmail.com</div>
                    <div class="response-box">
                        <form>
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
                            </div>
                            <div class="form-group">
                                <label for="message">Message:</label>
                                <textarea class="form-control" id="message" rows="5" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="transparent-box">
                    <div class="about-heading">About Us</div>
                    <div class="about-text">"Programming is not about typing, its about thinking."

                        Passionate 3rd year CS and software engineering student with a commitment to and experience of developing innovative and creative software solutions. I have a passion for coding and a relentless drive for continuous improvement within coding world and in all of my endeavours.
                        <br>
                        
                        
                        | 3rd year B.E Student |.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact">
        <div class="about-header">
                <p1>Talk To Us</p1>
            <main class="contact-container">
                
                <section class="contact-form">
                    <form action="#" method="post">
                        <label for="name">Your Name:</label>
                        <input type="text" id="name" name="name" required>
        
                        <label for="email">Your Email:</label>
                        <input type="email" id="email" name="email" required>
        
                        <label for="message">Your Message:</label>
                        <textarea id="message" name="message" rows="4" required></textarea>
        
                        <button type="submit">Submit</button>
                    </form>
                </section>
        
                <section class="contact-info">
                    <div class="address">
                        <p>
                            Address: 123 UpperHill St.<br>
                            Nairobi, Kenya<br>
                            P.O BOX. 00100, Nairobi
                        </p>
                        <p>
                            Phone: +254710659200<br>
                            Email: beverlyhillscommunityband@gmail.com
                        </p>
                    </div>
                    
                </section>
            </main>
        
            
        </div>
        
    </div>

    

    <!-- <div class="copyright">
        <p>&#169; Motii Car Rides All Rights Reserved</p>
        <div class="social">
            <a href="#"><i class='bx bxl-facebook-circle'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
        </div>
    </div> -->
    
    
</body>
</html>